doctype html
html
  head
    title
      block title
        | Welcome
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='shortcut icon', href='/static/img/favicon.ico')
    block links

  body

    block header
      header#head
        .inner
          .pull-right
            small
              a.link(href='/login.html') Esci
          img.logo(src='/static/img/fusion-logo.png')
          span &nbsp;&nbsp;&nbsp;&nbsp;
          img.claim(src='/static/img/fusion-claim.png')

    block app

    block footer
      footer
        button.pure-button#vote
          i.icon-heart-empty

    #vote-modal.mask-modal
      .modal
        form.pure-form
          h2.damion.accent aggiungi un nuovo voto
          label(for='whoSaid') A me
          input#whoSaid(type='text', name='who', placeholder='Numero')
          label(for='whatSaid') Piace
          input#whatSaid(type='text', name='what', placeholder='Numero')
          button.pure-button
            span Vota
      footer
        button.pure-button.close
          i.icon-cancel

    script(type='text/javascript', src='/static/js/main.js')
    block scripts
