extends layout

block title
  | TheFusion :: Profilo

//-block links

block app
  section#app
    .inner
      .pull-right
        .spacer-20
        small
          a.link(href='/')
            i.icon-left-open
            span Torna alla lista
      h3 Profilo del numero 
        strong#profileID 37

      .pure-g.others
        .pure-u-1-3.others-match
          .pure-inner(style='padding-right: 10px;')
            h3.damion match!
            ul.user-list
              li: a 1
        .pure-u-1-3.others-like
          .pure-inner(style='padding-right: 5px; padding-left: 5px;')
            h3.damion chi gli piace
            ul.user-list
              li: a 13
              li: a 69
              li: a 76
        .pure-u-1-3.others-liked
          .pure-inner(style='padding-left: 10px;')
            h3.damion a chi piace
            ul.user-list
              li: a 14


//-block scripts
